*/
*
*.*
*.bak
*/*.bak
**/*.bak
!zsh/
!nvim/
!qtile/
!zellij/
zsh/.zsh_history
npm/bin/
npm/lib/
npm/share/
nvim/coc-settings.json

#cef_user_data
#yuzu
#NuGet
#wslu
#Raspberry Pi
#.gsd-keyboard.settings-ported
#Trolltech.conf
#akregatorrc
#arkrc
#background
#baloofilerc
#bluedevilglobalrc
#discoverrc
#dleyna-renderer-service.conf
#dolphin-emurc
#dolphinrc
#drkonqirc
#gtkrc
#gtkrc-2.0
#gwenviewrc
#kactivitymanagerd-statsrc
#kactivitymanagerdrc
#katemetainfos
#katerc
#kateschemarc
#katevirc
#kcminputrc
#kconf_updaterc
#kded5rc
#kdeglobals
#kfontinstuirc
#kglobalshortcutsrc
#kgpgrc
#khotkeysrc
#kmail2rc
#kmixrc
#kolourpaintrc
#konquerorrc
#krunnerrc
#kscreenlockerrc
#ksmserverrc
#ktimezonedrc
#kwalletmanager5rc
#kwalletrc
#kwinrc
#kwinrulesrc
#kxkbrc
#okularpartrc
#plasma-localerc
#plasma-org.kde.plasma.desktop-appletsrc
#plasmarc
#plasmashellrc
#powerdevilrc
#powermanagementprofilesrc
#print-manager
#spectaclerc
#systemmonitorrc
#systemsettingsrc
#webengineurlinterceptoradblockrc
#xdg-desktop-portal-kderc

#GNOME-xdg-terminals.list
#dleyna-server-service.conf
#xdg-terminals.list
#manjaro-hello.json
#QtProject.conf
