coc/
configstore/
libreoffice/
balena-etcher-electron
yelp
transmission
inkscape
cmus
QtProject.conf
QDirStat
autorandr
Synergy
update-notifier
monitors.xml
monitors.xml~
gnome-session
gedit
eog
enchant
gnome-control-center
xfce4
ibus
pulse
dconf
evolution
discord
gnote
pavucontrol.ini
calibre
remmina
GIMP
freerdp
lutris
Thunar
gtk-2.0
gtk-3.0
mimeapps.list
totem
google-chrome
FreeCAD
Mousepad
*.bak
*/*.bak
cef_user_data
yuzu
NuGet
wslu
Raspberry Pi
Unity Hub/
UnityHub/
autostart/
compiz-1/
libaccounts-glib/
npm/bin/
npm/lib/
npm/share/
nvim/coc-settings.json
synapse/
unity3d/
vlc/
.gsd-keyboard.settings-ported
Cadence/
Docker Desktop/
ardour5/
ardour6/
converseen/
cura/
falkTX/
goa-1.0/
guitarix/
jack/
rncbc.org/
sublime-music/
systemd/
Insync/
