coc/
Insomnia/
configstore/
libreoffice/
balena-etcher-electron
yelp
transmission
inkscape
cmus
QtProject.conf
QDirStat
autorandr
Synergy
update-notifier
monitors.xml
monitors.xml~
gnome-session
gedit
eog
enchant
gnome-control-center
xfce4
ibus
pulse
dconf
evolution
discord
gnote
pavucontrol.ini
calibre
remmina
GIMP
freerdp
lutris
Thunar
gtk-2.0
gtk-3.0
mimeapps.list
totem
google-chrome
FreeCAD
Mousepad
*.bak
*/*.bak
cef_user_data
yuzu
NuGet
wslu
Raspberry Pi
chromium/
lxsession/
lxterminal/
openbox/
pcmanfm/
qt5ct/
Unity Hub/
UnityHub/
autostart/
compiz-1/
libaccounts-glib/
npm/bin/
npm/lib/
npm/share/
nvim/coc-settings.json
synapse/
unity3d/
vlc/
.gsd-keyboard.settings-ported
Cadence/
Docker Desktop/
ardour5/
ardour6/
converseen/
cura/
falkTX/
goa-1.0/
guitarix/
jack/
rncbc.org/
sublime-music/
systemd/
Insync/
KDE/
Trolltech.conf
Ultimaker B.V./
akregatorrc
arkrc
background
baloofilerc
bluedevilglobalrc
discoverrc
dleyna-renderer-service.conf
dolphin-emu/
dolphin-emurc
dolphinrc
drkonqirc
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
kgpgrc
khotkeysrc
khtml/
kmail2rc
kmixrc
kolourpaintrc
konquerorrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
print-manager
session/
spectaclerc
systemmonitorrc
systemsettingsrc
webengineurlinterceptoradblockrc
xdg-desktop-portal-kderc
xsettingsd/
zsh/.zsh_history
nautilus/

Code/
GitKraken/
azuredatastudio/
draw.io/
menus/

